@page "/todo"

<PageTitle>Dimi Bertolami</PageTitle>
<body style="background-color: greenyellow; width:fit-content;">
<h1><u>My Todo list!</u></h1>
<h3>things todo: @todos.Count(todo => !todo.IsDone)</h3>

<ol>
    @foreach (var todo in todos)
    {
        <li>
                <input @bind="todo.Title" style="background-color: deepskyblue; color:yellow;" />
                <input type="checkbox" title="Clear todo" @bind="todo.IsDone" @onclick="ClearToDo" />
        </li>
    }
</ol>

<input placeholder="Something todo" @bind="newTodo" style="background-color: lightgreen;color:darkred" />
<button @onclick="AddTodo" style="background-color:aquamarine;color:black">Add todo</button>
</body>
@code {
    private List<TodoItem> todos = new();
    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
    private void ClearToDo()
    {
        // todos.Remove(item);
    }
}